

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Hello Portfolio </title>
       
    </head>
    <body>
        
        

        <main class="l-main">
            
              <!-- Back to Top -->
             <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><img src="assets/img/arrow-up-circle.svg"></a>

<!--===== HOME =====--> 
   

            <section class="home" id="home">
                
                    <div class="home__container bd-grid">
                        <h1 data-text="hello" class="home__title"><span>HE</span><br>LLO.</h1>
                       

                         <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>

                    <img src="assets/img/perfil.png" alt="" class="home__img">
                </div>
                
            </section>
            
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="assets/img/perfil.png" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">LET ME INTRODUCE MYSELF</h2>
                       
                        <span class="lineUp">Hi, I'm Malek Hammami Full-stack developer</span>
                        <p class="lineUp"> Full-stack developer  & Mentor
                            I design and code beautifully simple things, and I love what I do.
                            Currently a student at the Faculty of Legal, Economic and Management Sciences in Jendouba, I am looking for an internship (2nd masters) the field of Front-End and/Back-End web development in React js for a period of 4 to 6 months from February 2023.</p>
                        <button class="button-62" role="button" routerLink="/resume" >👉Hire Me</button>

                        <div class="about__social">
                            <a href="https://www.linkedin.com/in/hammami-malek-6a84441a7/" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                            <a href="https://github.com/malak895" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                        
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>
    
                <section class="cercle-section" id="skills" >
                    <div class="container-xxl py-6 pb-5" id="skill">
                    
                            <div class="row g-5">
                                
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <h1 class="animate__animated animate__bounce">Skills front-end</h1>
                                 
                                 
                                        <div class="skill">
                                            <p>Angular</p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #c51919;
                                                        --wd: 65%;
                                                        --tx: '65%'">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="skill">
                                            <p>bootstrap</p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #170957;
                                                        --wd: 50%;
                                                        --tx: '50%'">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="skill">
                                            <p>JavaScript/TypeScripte</p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #fff458;
                                                        --wd: 79%;
                                                        --tx: '79%'">
                                                <span></span>
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                                    
                                    <h1 class="animate__animated animate__bounce">Skills back-and</h1>
                                 
                                    
                                   <div class="skill">
                                            <p>MongoDB</p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #0d4630;
                                                        --wd: 55%;
                                                        --tx: '65%'">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="skill">
                                            <p>nodeJs   </p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #3bd8ff;
                                                        --wd: 50%;
                                                        --tx: '88%'">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="skill">
                                            <p>MySql v 7,5</p>
                                            <div class="skill-bar"></div>
                                            <div class="progress-line" style="
                                                        --bg: #fff458;
                                                        --wd: 69%;
                                                        --tx: '79%'">
                                                <span></span>
                                            </div>
                                        </div>
                                   
                                        
                                   
                                </div>
                            </div>
                        </div>
                    
                       
                
                   
                   
                </section>
                
    </section><!--//skills-section-->
    


            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">portfolio</h2>
        

                <div class="portfolio__container bd-grid">
                    <div class="portfolio__img">
                        <img src="assets/img/work1.png" alt="">
                        <p class="lineUp">Angular is  full-stack development framework Login/SinUp   </p>
                          

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="assets/img/work2.jpg" alt="">
                        <p class="lineUp">Angular 14 is UI development framework Starbox  web site </p>

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="assets/img/work3.png" alt="">
                        <p class="lineUp">Angular 14 is UI development framework E-commerce web site </p>
                          


                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="assets/img/work4.png" alt="">
                        <p class="lineUp">Angular&JSON is  full-stack development framework that implements the MVVM (Model-View-ViewModel) architecture </p>
                          

                        <div class="portfolio__link">
                            
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="assets/img/work5.png" alt="">
                        <p class="lineUp">Angular 14 is clone google web site  </p>
                          
                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="assets/img/work6.png" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- My service -->
         
    
        <section class="cercle-section" id="service" >
                    <h2 class="section-title">My service</h2>
                    <span class="lineUp">WHAT I DO?
                        <br>HERE ARE SOME OF MY EXPERTISE</span>
            <div class="container">
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>
                            Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorem accusantium omnis quidem voluptatibus delectus nihil at quas, eum voluptatem doloremque sequi eaque dolorum fugit quam et quos nulla sint!</p>
                        
                    </div>
                </div>
                
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2> UI/UX Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorem accusantium omnis quidem voluptatibus delectus nihil at quas, eum voluptatem doloremque sequi eaque dolorum fugit quam et quos nulla sint!</p>
                        
                    </div>
                </div>
        
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>Graphic Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorem accusantium omnis quidem voluptatibus delectus nihil at quas, eum voluptatem doloremque sequi eaque dolorum fugit quam et quos nulla sint!</p>
                        
                    </div>
                </div>
            
                </div>
            </section>
            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">hammamiimalek@outlook.com </span>

                        <h3 class="contact__subtitle">PHONE</h3>
                        <span class="contact__text">+216 50 434 863</span>

                        <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">Cite hached-Bizerte</span>
                    </div>

                    <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" class="contact__input">
                            <input type="mail" placeholder="Email" class="contact__input">
                        </div>

                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                        <input type="submit" value="Enviar" class="contact__button">
                    </form>
                </div>
            </section>
       
        </main>




    </body>
