<html lang="en"> 
	
<body>
	<!--===== HEADER =====-->
	

	<body>
    
		
		<section class="section py-5">
			<div class="container">
				<div class="row">
					<div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
						
						<img class="profile-small d-inline-block mx-auto rounded-circle mb-3" src="assets/img/perfil.png" alt="">
						

						<div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
							<h6 class="font-weight-bold text-center mb-3">I'm currently taking on freelance work. If you are interested in hiring me for your project please use the form below to get in touch. Want to know how I work and what I can offer? Check out my 
								<a class="text-link" href="#portfolio">project case studies</a> and <a href="assets/malek hammami.pdf" download class="dowloade-btn" >download cv </a> <a class="text-link" href="resume.html">resume</a>.</h6>
							<h6 class="font-weight-bold text-center mb-3">You can also find me on the following channels</h6>
							
							<div class="about__social">
								<a href="https://www.linkedin.com/in/hammami-malek-6a84441a7/" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
								<a href="https://github.com/malak895" class="about__social-icon"><i class='bx bxl-github' ></i></a>
								
								
								
							</div>
								
						</div>
						
					</div><!--//contact-intro-->
				
				</div><!--//row-->
			</div><!--//container-->
		</section><!--//section-->

	</body>
	



